<template>
    <div class="">
        <h1>Products</h1>
        Quantity of goods {{products.length}}
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
                        <tbody>
            <tr  v-for="(product) in products" v-bind:key="product.id" >
                                <td>{{ product.id }}</td>
                                <td>{{ product.name }}</td>
                                <td>{{ product.amount }}</td>
                                <td>{{ product.price }}</td>
        <td><button class="" @click='addProductToCart(product.id)'>Add to cart</button></td>
                            </tr>
                        </tbody>
            <!--<input id="test" name="test"  @input="getProductsData">-->
        </table>
    {{getProductsData(getResponse)}}
    </div>
</template>
<script>
import axios from 'axios';

const Url = 'https://pacyfka99.000webhostapp.com/';

export default {
  name: 'Products',
  data() {
    return {
      products: [],
      getResult: null,
    };
  },
  components: {
  },
  methods: {
    getProductsData(result) {
      axios.get(Url).then((response) => {
        result(response);
      }).catch(() => {
      });
    },
    getResponse(response) {
      this.products = response.data;
      alert(1);
    },
    addProductToCart(id) {
      this.getProductsData(this.getResponse);
      console.log(id);
      return 1;
    },
  },
};
</script>
