<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Products</router-link> |
      <router-link to="/shopping-cart">Shopping cart</router-link>
    </div>
    <router-view/>
  </div>
</template>

<style lang="scss">

</style>
